/*CSS document*/

body {
font-family: finalsix, sans-serif;
font-weight: 200;
font-style: normal;
margin-right: 2em;
margin-left: 2em;
    line-height: 1.4em;
}

div.container {
    margin: 0 auto;
    background-color: #fafafa;
    max-width: 60em;
    margin: 0 auto;
    padding: 1em;
}

section {
    max-width: 40em;
    margin: 0 auto 3em;
}

figure {
    margin: 0;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    list-style-type: none;
    margin: 2rem .3rem 2rem;
font-family: novecento-sans, sans-serif;
font-weight: 700;
font-style: normal;
    font-size: .9em;
    
}

nav ul {
    margin: 0rem 0rem 1.5rem;
}

nav ul li a {
    color: rgb(70, 127, 176);
    text-decoration: none;
}

nav ul li a:hover {
    color: rgb(181, 185, 238);
}

h2 {
    font-family: novecento-sans, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: rgb(156, 37, 96);
}

a {
    text-decoration: none;
}

section.secondary h3 {
    font-family: novecento-sans, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.3em;
    color: rgb(156, 37, 96);
}

section.secondary p{
    color: rgb(20,20,20);
}

section.mainstory h3 {
    font-family: novecento-sans, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.3em;
    color: rgb(156, 37, 96);
}

section.mainstory p{
    color: rgb(20,20,20);
}

figure figcaption {
    font-weight: bold;
}

aside h3 {
    font-family: novecento-sans, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.3em;
    color: rgb(156, 37, 96);
}

aside p {
        color: rgb(20,20,20);
}

section.personal-info ul li {
	display: flex ;
	flex-wrap: wrap ;
	margin-right: 4em;
}

section.personal-info ul li input[type="text"],
section ul li input[type="email"],
section ul li select {
	flex: 1 0 8em ;
	box-sizing: border-box;
    width: 90%
    
}

section.personal-info ul li input[type="text"],
section ul li input[type="name"],
section ul li select {
	flex: 1 0 8em ;
	box-sizing: border-box;
    width: 100%
        
}

section.personal-info ul li label {
	flex: 1 0 8em ;
}

section.order ul, section.method ul {
	display: flex;
    margin: 0 2em;
	}

section.order ul li , section.method ul li {
	flex: 1 .14 15em ;
	}

img {
    width:100%;
}

main.gallery {
    position: relative ;
    overflow: hidden ;
    padding-bottom: calc(72% + 3em);
    grid-column: 1/3;
}

main.gallery figure{
    margin: 0;
    width: calc(100%-2em);
    position: absolute ;
    opacity: 0 ;
    transition: .5s ease-in-out ;
}

main.gallery figure{
    margin: 0;
    width: calc(100%-2em);
    position: absolute ;
    opacity: 0 ;
    transition: .5s ease-in-out ;
}

main.gallery figcaption {
    font-size: 1.2em;
    font-weight: bold;
    margin: 1em 0;
    color: #888;
    font-family: novecento-sans, sans-serif;
    font-weight: 700;
    font-style: normal;
}


    input:nth-of-type(1):checked ~ main figure:nth-of-type(1),
    input:nth-of-type(2):checked ~ main figure:nth-of-type(2),
    input:nth-of-type(3):checked ~ main figure:nth-of-type(3),
    input:nth-of-type(4):checked ~ main figure:nth-of-type(4)
    input:nth-of-type(5):checked ~ main figure:nth-of-type(5),
    input:nth-of-type(6):checked ~ main figure:nth-of-type(6),
    input:nth-of-type(7):checked ~ main figure:nth-of-type(7),
    input:nth-of-type(8):checked ~ main figure:nth-of-type(8){
        opacity: 1;
    }

nav.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: .2em ;
    grid-column: 1/3;
}

main.gallery input {
    display: hidden ;
}

@media screen and (min-width: 60em) {
    div.container {
        max-width: 80em;
        margin: auto;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 0em 1em;
    }
    h1 {
        width: 20%;
    }
    header {
        grid-column: 1/3;
    }
    
    main {
        grid-column: 1/2;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 0 1em;
    }
    
    main.gallery {
        display: block;
    }
    
    aside {
        grid-column: 2/3 ;
    }
    
    section.mainstory {
        grid-column: 2/4;
        grid-row: 1/3;
        display: flex;
        flex-direction: column;
    }
    
    section.mainstory figure {
        flex: 1 0 18em;
        display: flex;
        flex-direction: column;
        background-color: #ff0;
    }

    section.mainstory figure div {
        flex: 1 0 18em;
        background-image: url(outsiders.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    section.mainstory figure div img{
        height: 100%; 
        opacity: 0;
    }
    
    section.mainstory figure figcaption{
         flex: 0 0 3em; 
    }
    
    section.mainstory h3 {
        flex: 0 0 auto;
        margin: 0;
    }
    
    section.mainstory p {
        flex: 0 0 auto;
        margin: 0;
    }
    nav ul li {
        display: inline;
        list-style-type: none;
        margin: 2rem 1.5rem 2rem 0;
    font-family: novecento-sans, sans-serif;
    font-weight: 700;
    font-style: normal;
        font-size: 1.2em;
    }
    main.form {
        max-width: 80em;
        margin: auto;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 0em 1em;        
    }

    section.personalinfo {
        grid-column: 1/2;
    }
}
